.dropdown {
    display: inline-block;
    position: relative;
    margin-right: 44px;
  }
  
  .dropdown-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #00abe7;
    cursor: pointer;
    white-space: nowrap;
    width: 135px;
    border:none;
    border-radius:22px;

  }